<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" style="text/css" href="/static/default.css" />
		<title><%= title %></title>
	</head>
	<body>
		<div id="title">
			<h1>Market Place</h1>
		</div>