<% var title = ' Market Place Login' %>
<% include head %>
<form id="loginForm" action="/login/authenticate" method="POST">
	<label id="username">Username: <input type="text" name="username" /></label>
	<label id="password">Password: <input type="password" name="password" /></label>
	<input type="submit" name="submit" value="Login" />
</form>
<div>
	<p><a href="/register">Not registered?</a></p>
</div>
<% include foot %>