<% var title = ' Market Place Register' %>
<% include head %>
<form id="registrationForm" action="/register/user" method="POST">
	<label id="username">Username: <input type="text" name="username" /></label>
	<label id="emailAddress">Email Address: <input type="text" name="emailAddress" /></label>
	<label id="password">Password: <input type="password" name="password" /></label>
	<label id="passwordConf">Password again: <input type="password" name="passwordConf" /></label>
	<label id="firstname">First Name: <input type="text" name="firstname" /></label>
	<label id="lastname">Last Name: <input type="text" name="lastname" /></label>
	<input type="submit" name="submit" value="Register" />
</form>
<% include foot %>